
@{
    ViewBag.Title = "Manager Book";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


@model IEnumerable<SmartManagerLibrarySystem.Models.Books>

<div class="container">
    <h2>Manager Books</h2>

    <p>
        @Html.ActionLink("Create New", "CreateBook", null, new { @class = "btn btn-primary" })
    </p>

    <form method="get" action="@Url.Action("ManagerBook")" class="form-inline mb-3 d-flex align-items-center row">
        <div class="form-group col-11">
            <input type="text" name="searchString" value="@ViewBag.CurrentFilter" class="form-control" placeholder="Search by name or author" />
        </div>
        <button class="btn btn-outline-success my-2 my-sm-0 col-1" type="submit">Search</button>
    </form>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.ActionLink("Name", "ManagerBook", new { sortOrder = ViewBag.NameSortParm, searchString = ViewBag.CurrentFilter })
                </th>
                <th>
                    @Html.ActionLink("Author", "ManagerBook", new { sortOrder = ViewBag.AuthorSortParm, searchString = ViewBag.CurrentFilter })
                </th>
                <th>@Html.DisplayNameFor(model => model.Genre)</th>
                <th>@Html.DisplayNameFor(model => model.Quantity)</th>
                <th>@Html.DisplayNameFor(model => model.Publisher)</th>
                <th>@Html.DisplayNameFor(model => model.Image)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Author)</td>
                    <td>@Html.DisplayFor(modelItem => item.Genre)</td>
                    <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                    <td>@Html.DisplayFor(modelItem => item.Publisher)</td>
                    <td>
                        <img src="@item.Image" alt="Book Image" width="50" height="50" />
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditBook", new { id = item.BookId }, new { @class = "btn btn-warning btn-sm me-1" }) 
                        @Html.ActionLink("Delete", "DeleteBook", new { id = item.BookId }, new { @class = "btn btn-danger btn-sm" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>