<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />

    <style>
        .content{
            overflow-y:scroll;
        }
    </style>

</head>
<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto px-2 bg-dark sidebar h-100">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">

                    <a href="/" class="navbar-brand d-flex justify-content-center w-100">
                        <img width="100px" src="~/Content/Flower_Book_Store__1_-removebg-preview.png" alt="Library Logo" />
                    </a>
                    <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-4">Smart Manager Library</span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li class="nav-item">
                            <a href="/Admin" class="nav-link text-light align-middle px-0">
                                <i class="fa fa-chart-bar"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Admin/ManageUsers" class="nav-link text-light px-0 align-middle">
                                <i class="fa fa-user"></i> <span class="ms-1 d-none d-sm-inline">Manager User</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Admin/ManagerBook" class="nav-link text-light px-0 align-middle">
                                <i class="fa fa-book"></i> <span class="ms-1 d-none d-sm-inline">Manager Book</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Admin/CreateBook" class="nav-link text-light px-0 align-middle">
                                <i class="fa fa-plus"></i> <span class="ms-1 d-none d-sm-inline">Create Book</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Admin/ManagerLoans" class="nav-link text-light px-0 align-middle">
                                <i class="fa fa-list"></i> <span class="ms-1 d-none d-sm-inline">Manager Loans</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/" class="nav-link text-light align-middle px-0">
                                <i class="fa fa-home"></i> <span class="ms-1 d-none d-sm-inline">Back To Home</span>
                            </a>
                        </li>

                    </ul>
                    <a href="#" class="nav-link px-0 align-middle mt-auto">

                        @Html.Partial("_LoginPartial")
                    </a>
                </div>
            </div>

            <div class="col py-3 content vh-100">
                @RenderBody()
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
